@font-face {
    font-family: 'Goudy Trajan Regular';
    src: url('../font/goudytrajan-regular-trial.eot');
    src: url('../font/goudytrajan-regular-trial.eot?#iefix') format('embedded-opentype'),
         url('../font/goudytrajan-regular-trial.woff2') format('woff2'),
         url('../font/goudytrajan-regular-trial.woff') format('woff'),
         url('../font/goudytrajan-regular-trial.ttf') format('truetype'),
         url('../font/goudytrajan-regular-trial.svg#goudy_trajan_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: #fff9e7;
    height: 1500px;
}

body {
    font-family: "helvetica neue", Helvetica, Geneva, Tahoma, Arial, "sans-serif";
}

h1 {
    font-size: 3em;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 1000px;
}

.title {
    font-family: "Goudy Trajan Regular";
    font-weight: normal;
}

.techImg, .unlock {
    cursor: pointer;
}

.unlockFade {
    opacity: 0.25;
}

.spokeLine {
    cursor: pointer;
    stroke: #bcbec0;
    stroke-width: 0.5px;
}

.lineSelected {
    stroke: #1f1f1f;
    stroke-width: 2px;
}

.lineRequired {
    stroke: #1f1f1f;
}

.lineOptional {
    stroke: #1f1f1f;
}

.lineLeads {
    stroke: #1f1f1f;
    stroke-dasharray: 15px 5px;
}

.spokeText {
    cursor: pointer;
    
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
}

.textSelected {
    fill: #fff;   
}

.spokeTextBox {
    cursor: pointer;
    stroke: #bcbec0;
    fill: #fff;
}

.spokeTextBoxSelected {
    fill: #1f1f1f;   
}

#tooltip {
	border: 1px solid black;
    border-radius: 6px;
	background-color: white;
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    pointer-events: none;
}

#tooltip p {
    font-family: "helvetica neue", Helvetica, Geneva, Tahoma, Arial, "sans-serif";
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#description {
    border: 1px solid rosybrown;
    margin: 0 auto;
    padding: 15px;
    width: 500px;
}

.desc {
    padding-left: 10px;
}

#descCloseButton {
    cursor: pointer;
}

#descHead {

}

#descTitle {
    float: left;
    font-family: "Goudy Trajan Regular";
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 400px;
}

#descImg {
    float: left;
    padding-right: 10px;
    width: 45px;
}

#descCloseButton {
    float: right;
}

#descPlusLine {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.descSubTitle {
    font-weight: bold;
    padding-bottom: 0;
}

.clear {
    clear: both;
}